name: ip_env
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - cudatoolkit=11.8
  - pip:
    - torch==2.2.0 --index-url https://download.pytorch.org/whl/cu118
    - torchvision==0.17.0 --index-url https://download.pytorch.org/whl/cu118
    - torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cu118
    - pyg_lib==0.4.0+pt22cu118 --find-links https://data.pyg.org/whl/torch-2.2.0+cu118.html
    - torch_scatter==2.1.2+pt22cu118 --find-links https://data.pyg.org/whl/torch-2.2.0+cu118.html
    - torch_sparse==0.6.18+pt22cu118 --find-links https://data.pyg.org/whl/torch-2.2.0+cu118.html
    - torch_cluster==1.6.3+pt22cu118 --find-links https://data.pyg.org/whl/torch-2.2.0+cu118.html
    - torch_spline_conv==1.2.2+pt22cu118 --find-links https://data.pyg.org/whl/torch-2.2.0+cu118.html
  
    # Prevent NumPy 2.0 upgrade which breaks PyTorch 2.2
    - numpy<2.0
    
    # Ultralytics version that retains the 'yolo' needed by FastSAM
    - ultralytics==8.0.120
    
    # Headless OpenCV to prevent Qt/xcb crashes
    - opencv-python-headless
    
    # CLIP Dependencies
    - ftfy
    - regex
    - tqdm
    - git+https://github.com/openai/CLIP.git
    
    # Original dependencies
    - open3d
    - scipy
    - matplotlib
    - wandb